.gallery {
    display: flex;

    &__photo{
        width: 100%;
        display: block;
    }
}

.overview {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color-grey-light-2;

    &__heading{
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;

        @media only screen and (max-width: $bp-small){
            font-size: 1.8rem;
            padding: 1.25rem 2rem;
        }
    }

    &__stars{
        margin-right: auto;
        display: flex;

    }

    &__icon-star,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: $color-primary;
    }

    &__location {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
    }

    &__icon-location {
       margin-right: .5rem;
    }


    &__rating {
        background-color: $color-primary;
        margin-left: 3rem;
        padding: 0 2.25rem;
        color: #fff;
        align-self: stretch;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @media only screen and (max-width: $bp-small){
            padding: 0 1.5rem;
        }
    }

    &__rating-average {
        font-size: 2.25rem;
        font-weight: 300;
        margin-bottom: -.3rem;

        @media only screen and (max-width: $bp-small){
            font-size: 1.8rem;
        }
    }

    &__rating-count {
        font-size: .8rem;

        @media only screen and (max-width: $bp-small){
            font-size: .5rem;
        }
    }
}

.paragraph:not(:last-of-type) {
    margin-bottom: 2rem;
}

.list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;

    display: flex;
    flex-wrap: wrap;

    &__item {
        flex: 0 0 50%;
        margin-bottom: .7rem;

        &::before{
            content: '';
            display: inline-block;
            height: 2rem;
            margin-right: .7rem;

            //older browsers
            //background-image: url(../../assets/chevron-thin-right.svg);
            //background-size: cover;

            //newer browsers
            background-color: $color-primary;
            mask-image: url(../../assets/chevron-thin-right.svg);
            mask-size: cover;
        }
    }
}

.recommend {
    font-size: 1.3rem;
    color: $color-grey-dark-3;

    display: flex;
    align-items: center;

    &__count {
        margin-right: auto;
    }

    &__friends {
        display: flex;
    }

    &__photo{
        box-sizing: content-box;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: .3rem solid #fff;

        &:not(:last-child) {
            margin-right: -2rem;
        }
    }
}


